/*

GALLERY

*/

.portfolio {

    width: 100%;
    margin: 0 auto;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
    justify-content: center;
}

.item {
    cursor: pointer;
    padding: 2px;
}

.gallery :nth-child(1) {
    width: 40%;
    display: flex;
    justify-content: right;
}

.gallery :nth-child(2) {
    width: 40%;
    display: flex;
    justify-content: left;
}


.gallery :nth-child(1) img {
    width: 400px;
}

.gallery :nth-child(2) img {
    width: 400px;
}


.gallery :nth-child(3) {
    width: 40%;
    display: flex;
    justify-content: right;
}

.gallery :nth-child(4) {
    width: 40%;
    display: flex;
    justify-content: left;
}


.gallery :nth-child(5) {
    width: 40%;
    display: flex;
    justify-content: right;
}

.gallery :nth-child(6) {
    width: 40%;
    display: flex;
    justify-content: left;
}

.gallery :nth-child(3) img {
    width: 250px;
}

.gallery :nth-child(4) img {
    width: 250px;
}

.gallery :nth-child(5) img {
    width: 250px;
}

.gallery :nth-child(6) img {
    width: 250px;
}




.gallery :nth-child(7) img {
    width: 600px;
}


.gallery :nth-child(8) {
    width: 100%;
    display: flex;
    justify-content: center;
}

.gallery :nth-child(8) img {
    width: 500px;
}

.gallery :nth-child(9) img {
    width: 900px;
    margin: 0 auto;
}


/*SLIDER*/

.slider-container {

    /* background-repeat: round;
    background-size: cover; */

    width: 1200px;
    height: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: black;
    transform: translate(-50%, -50%);
    display: none;


}

.img-slider-container {

    display: flex;
    align-items: center;
    margin: 0 auto;


}

.img-slider-container .imgSlider {

    margin: 0 auto;
    max-width: 67%;
    width: 55%;
    object-fit: inherit;
    max-height: 1200px;

}

.arrow-container:hover {
    background-color: rgba(186, 178, 178, 0.198);
}


.arrow-container {
    width: 60px;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

}

.back-container {
    width: 60px;
    height: 100%;
    position: absolute;
    left: 0;
}

.back-container img {
    margin: 0 auto;
    width: 30px;
    height: 30px;
    transform: scale(1.5);

}




.next-container {
    right: 0;
}



.next-container img {
    margin: 0 auto;
    width: 30px;
    height: 30px;
    transform: scale(1.5);
}


.close-btn {
    position: fixed;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 1;
}

.close-btn img {
    /* display: scroll; */
    width: 30px;
}

.close-btn:hover {

    filter: drop-shadow(2px 0px 11px #ffffff);

}


@media (max-width: 800px) {

    .logo a {
        padding: 5px;
    }

    .logo a h1 {
        display: none;
    }

    .gallery {
        margin: 0 auto;
        width: 100%;
        /* border: 2px solid red; */

    }

    .item img {
        width: 200px;
    }

    .slider-container {
        width: 90%;
        height: 60%;
    }

    .img-slider-container .imgSlider {

        width: 100%;
    }

    .gallery :nth-child(1) {
        width: 100%;
    }

    .gallery :nth-child(2) {
        width: 100%;
    }

    .gallery :nth-child(3) {
        margin: 0 auto;
    }

    .gallery :nth-child(4) {
        margin: 0;
    }



    .gallery :nth-child(13) {
        margin: 0 auto;
    }

    .gallery :nth-child(13) img {

        width: 100%;
        margin: 0 auto;


    }

    .gallery {
        /* border: solid white 1px; */
        width: 90%;
        margin: 0 auto;
    }

    .gallery .item img {

        width: 100%;
    }

    .gallery :nth-child(3) {

        justify-self: unset;
        margin: 0;

    }

    .imgSlider {

        /* border:solid red 2px; */
        height: 100%;
    }

    .slider-container {
        height: 70%;
    }
    
}