.slogan {

    color: #ffffff;
    font-size: 1.5rem;
    text-align: center;
    font-family: "Barlow Condensed";
    margin-top: 20px;
    margin-bottom: 20px;

}

.slogan h2 {
    margin: 0px;
}

.slogan label {

    color: darkgrey;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 0.9rem;
}


@media (max-width: 800px) {

    .slogan {

        font-size: 1.0rem;
    }
}